@model WebAppBiblioteca.Models.Libro

@{
    ViewData["Title"] = "Registrar Libro";
}

<h2>Registrar libro nuevo</h2>

<h4>Registre libro nuevo para la biblioteca, registre cada uno de los datos correspondientes.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editorial" class="control-label"></label>
                <input asp-for="Editorial" class="form-control" />
                <span asp-validation-for="Editorial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasPrestamo" class="control-label"></label>
                <input asp-for="DiasPrestamo" class="form-control" />
                <span asp-validation-for="DiasPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UbicacionId" class="control-label"></label>
                <select asp-for="UbicacionId" class="form-control" asp-items="ViewBag.General"></select>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control" asp-items="ViewBag.General"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoLibroId" class="control-label"></label>
                <select asp-for="TipoLibroId" class="form-control" asp-items="ViewBag.General"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ver listado de libros</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
